*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 999;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        border: 1px solid #adb5bd;
        transition: .4s;
        border-radius: 30px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.27em;
        bottom: 0.25em;
        background-color: #adb5bd;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #007bff;
        border: 1px solid #007bff;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #007bff;
    }

    input:checked+.slider:before {
        transform: translateX(1.4em);
        background-color: #fff;
    }

    .abs a {
        font-weight: 700;
        /* color: red; */
    }

    .abs a:hover {
        color: red;
    }

    .ln1 {
        width: 220px;
        height: 5px;
        background-color: red;
    }

    .lnl ::before {
        transition: .2s ease-in-out;
    }

    .bvb {
        color: red;
    }

    .tlt {
        color: black;
        text-decoration: none;
        font-size: 37px;
        font-weight: 450;
        padding-left: 15px;
    }

    .tlt:hover {
        color: red;
    }

    .film-text h5 {
        padding-left: 15px;
        color: rgb(142, 142, 142);
        font-size: 22px;
    }

    .by-now {
        width: 200px;
        height: 250px;
        position: relative;
        /* border-radius: 15px; */
    }

    .by-now img {
        border-radius: 15px;
        width: 200px;
        height: 250px;
    }

     
    footer{
        width: 100%;
        height: 70vh;
        background-color: black;
        margin-top: 100px;
        /* border: 2px solid blue; */
        /* margin: auto; */
    } 
    .ft-top{
        display: block;
    }
    .ft-top h2{
        color: #fff;
        padding-left: 20px;
        padding-top: 10px;
    }
    .ft-top hr{
        color: white;
        width: 90%;
        margin: auto;
    }
    .ft-top div{
        width: 130px;
        background-color: red;
        height: 5px;
        margin-left: 15px;
    }
    .spors{
        width: 100%;
        height: 150px;
        z-index: 999;
        /* border: 2px solid green ; */
    }
    marquee img{
        width: 220px;
        height: 80px;
        margin-top: 15px;
        margin-left: 50px;
        /* z-index: -1; */
    }
    .ft-rem{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        /* height: 50vh; */
        background-color: rgb(16, 16, 16);
    }
    .ctn-1{
        margin-left: 50px;
        margin-top: 20px;

    }
    .ctn-1 h4{
        color: red;
        padding-top: 30px;
    }
    .ctn-1 a{
        text-decoration: none;
        color: white;

    }
    .ctn-1 a:hover{
        color: red;
        text-decoration: none;
        /* text-transform: uppercase; */
    }
    .ft-btm{
        margin: auto;
        margin-top: 60px;
        width: 100%;
        color: white;
    }
    .ft-btm hr{
        width: 80%;
        margin: auto;
    }
    .ft-btm h5{
        margin-left: 20px;
        margin-top: 60px;
    }
    /* ABOUT US CSS */
     body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .ab{
        max-width: 100%;
        height: 400px;
        margin: 0;
        background-color: #000;
        color: #fff;
        position: relative;
        z-index: -1;
    }
    .ab h1{
        font-family: serif;
        padding-left: 25px;
        padding-top: 25px;
    }
    .caret{
        position: absolute;
        top: 470px;
        /* bottom: 0; */
        left: 50%;
        background-color: white;
        /* border: 1px solid black; */
        width: 60px;
        height: 50px;
        border-radius: 20px;
        z-index: -1;

    }
    .caret i{
        padding-left: 13px;
        font-size: 30px;
        color: red;
    }
    .ctu{
        width: 100%;
        height: 400px;
        background-color: black;
        color: #fff;
        font-family: serif;
        font-size: 50px;
        padding-top: 30px;
        padding-left: 40px;
        /* border: 2px solid green; */
        position: relative;
    }
    .map{
        width: 600px;
        /* margin-top: 60px; */
        height: 350px;
        margin: 60px auto;
        border: 1px solid black;
    }
    .hm{
        width: 70px;
        height: 70px;
        border: 2px solid rgb(216, 216, 216);
        border-radius: 40px;
        padding-left: 18px;
        padding-top: 8px;
        font-size: 30px;
        color: red;
    }
    .vi-txt{
        font-family: serif;
        font-size: 22px;
    }










#movie_details{
    width: 100%;
    /* border: 3px solid blue; */
    /* height: 500px; */
    /* background-image: url(./seat.jpg); */
    background-repeat: no-repeat;
    background-color: black;
}
.movie{
    width: 300px;
    /* height: 500px; */
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.movie img{
    /* border-radius: 10px; */
    margin-top: 10px;
    margin-left: 5px;
}
.movie h1{
    padding-left: 15px;
}
.allmovie{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* max-width: 100%; */
    /* border: 3px solid green; */
}
.wel{
    font-size: 5rem;
    font-family: serif;
    text-align: center;
}
#screen{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
}
.mv-img img{
    width: 200px;
    /* margin: auto; */
}
.mv-img img:hover{
    border: 3px solid red;
    /* border: 3px solid rgb(255, 193, 7); */
}
.det-img{
    width: 300px;
    height: 300px;
    margin: auto;
    /* margin-top: 30px; */
    /* height: ; */
}
.det-img img{
    width: 300px;
    height: 350px;
    margin-top: 30px;
}
.dtss{
    max-width: 100%;
    /* height: 400px; */
    /* background-image: url(./battle\ on\ bukka\ street.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(./battle\ on\ bukka\ street.jpg); */
}
.h1dts{
    font-size: 5rem;
    font-family: serif;
    text-align: center;
}
.h3dts{
    color: white;
    text-align: center;
}
#lo{
    width: 100%;
    /* background-color: red; */
}